body.sugestao {
  width: inherit;
  height: fit-content;
  background-image: linear-gradient(
    to bottom,
    var(--cor-dark) 70%,
    var(--cor-primaria1)
  );
}

.sugestao-bg {
  display: flex;
  height: fit-content;
  background: var(--cor-light);
  color: var(--cor-dark);
  padding: 220px 0px;
}

.sugestao-box {
  display: flex;
  width: fit-content;
  height: fit-content;
  background: var(--cor-primaria3);
  border: 3px solid var(--cor-dark);
  margin: auto auto;
  align-items: center;
  justify-content: center;
  margin: 0px 150px;
}

.sugestao-box section h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 35px;
}

.sugestao-box section {
  flex: 1;
  padding: 50px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: end;
}

.form input {
  height: 30px;
  margin-top: 10px;
}

.form textarea {
  margin-top: 10px;
}

.col-2 {
  grid-column: 1/-1;
}

.mensagem * {
  display: block;
  width: 100%;
}

.mensagem {
  grid-column: 1 /-1;
  width: 100%;
}

.sug {
  height: 40px;
  grid-column: 2 / 3;
  justify-self: end;
}

@media (max-width: 950px) {
  .sugestao-bg {
    padding: 200px 0px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1050px) {
  .sugestao-box {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form div {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .sugestao-box section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
  }
  .sugestao-box {
    height: 1000px;
  }
  .sugestao-box section h2 {
    font-size: 2em;
    line-height: 1.5;
  }
}

@media (max-width: 750px) {
  .form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 1.5em;
  }
  .form div {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .sugestao-box section button {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 10px;
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .form {
    font-size: 2rem;
  }
  .form input {
    height: 50px;
  }
  .sugestao-box section h2 {
    margin-top: 50px;
  }
}

@media (max-width: 550px) {
  .sugestao-box {
    margin-top: 100px;
    height: 1200px;
  }
  .sugestao-box section h2 {
    font-size: 2.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 450px) {
  .form {
    font-size: 2.5em;
    padding: 10px;
  }
  .sugestao-box {
    margin: 200px 150px;
    height: 1400px;
  }
}

@media (max-width: 400px) {
  .sugestao-box {
    margin: 200px 150px;
    height: 1600px;
  }
  .form {
    font-size: 2.5rem;
  }
  .form input {
    height: 75px;
  }
  .form div {
    width: 140vw;
  }
}

@media (max-width: 350px) {
  .sugestao-box {
    margin: 200px 150px;
    height: 1800px;
  }
  .form {
    font-size: 3rem;
  }
  .form input {
    height: 100px;
  }
  .form div {
    width: 160vw;
  }
  .sugestao-box section h2 {
    font-size: 3rem;
    line-height: 1.5;
  }
}
